<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" href="../css/factura.css">
</head>

<body>
    <div class="invoice-container" id="invoice">
        <div class="invoice-header">
            <h1>Factura</h1>
            <p>Factura #: SN8478042099</p>
            <p>Fecha de emisión: 22 de julio de 2018</p>
        </div>
        <div class="invoice-details">
            <p><strong>Cliente:</strong> Vladimir Berezovskiy</p>
            <p><strong>Método de pago:</strong> Tarjeta de crédito (MasterCard)</p>
            <p><strong>Últimos 4 dígitos:</strong> 3894</p>
            <p><strong>Comisión:</strong> $1.99</p>
        </div>
        <div class="invoice-total">
            <p>Total: $600.99</p>
        </div>
        <a href="#" class="download-button" id="download">Descargar Factura (PDF)</a>
        <a href="../dashboard/" class="download-button">Ir al panel de administraciòn</a>
    </div>

    <!-- Cargar librerías necesarias -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="../js/factura.js"></script>
</body>

</html>